<div class="st-flex-container">
  <div class="st-flex-item">
    <ion-button fill="clear" size="small"
      ><ion-icon slot="start" name="star"></ion-icon>Schedule
      Showing</ion-button
    >
  </div>
  <div class="st-flex-item">
    <ion-button fill="clear" size="small"
      ><ion-icon slot="start" name="star"></ion-icon>Add to Tour</ion-button
    >
  </div>
  <div class="st-flex-item">
    <ion-button fill="clear" size="small"
      ><ion-icon slot="start" name="star"></ion-icon>Submit Offer</ion-button
    >
  </div>
  <div class="st-flex-item">
    <ion-button fill="clear" size="small"
      ><ion-icon slot="start" name="star"></ion-icon>Messaging</ion-button
    >
  </div>
</div>
