<ul role="menu">
  <li role="none">
    <a role="menuitem"
      ><ion-icon name="search"></ion-icon><span>Dashboard</span></a
    >
  </li>
  <li role="none">
    <a role="menuitem"
      ><ion-icon name="search"></ion-icon
      ><span>Listings<ion-badge color="danger">77</ion-badge></span></a
    >
  </li>
  <li role="none">
    <a role="menuitem"
      ><ion-icon name="search"></ion-icon><span>Schedule</span></a
    >
  </li>
  <li role="none">
    <a role="menuitem"
      ><ion-icon name="search"></ion-icon><span>Messages</span></a
    >
  </li>
  <li role="none">
    <a role="menuitem"
      ><ion-icon name="search"></ion-icon><span>Contacts</span></a
    >
  </li>
  <li role="none">
    <a role="menuitem"
      ><ion-icon name="search"></ion-icon><span>Feedback</span></a
    >
  </li>
  <li role="none">
    <a role="menuitem"
      ><ion-icon name="search"></ion-icon><span>MarketStats</span></a
    >
  </li>
  <li role="none">
    <a role="menuitem"><ion-icon name="search"></ion-icon>Profile & Settings</a>
  </li>
</ul>
