<ul role="menu">
  <li role="none">
    <a role="menuitem"
      ><div class="st-has-icon"><ion-icon name="today"></ion-icon></div>
      <div class="st-has-page-title">Dashboard</div></a
    >
  </li>
  <li role="none">
    <a role="menuitem"
      ><div class="st-has-icon"><ion-icon name="search"></ion-icon></div>
      <div class="st-has-page-title">Listings<ion-badge color="danger">77</ion-badge></div></a
    >
  </li>
  <li role="none">
    <a role="menuitem"
      ><div class="st-has-icon"><ion-icon name="calendar"></ion-icon></div>
      <div class="st-has-page-title">Schedule</div></a
    >
  </li>
  <li role="none" class="st-is-active">
    <a role="menuitem"
      ><div class="st-has-icon"><ion-icon name="mail"></ion-icon></div>
      <div class="st-has-page-title">Messages</div></a
    >
  </li>
  <li role="none">
    <a role="menuitem"
      ><div class="st-has-icon"><ion-icon name="heart"></ion-icon></div>
      <div class="st-has-page-title">Contacts</div></a
    >
  </li>
  <li role="none">
    <a role="menuitem"
      ><div class="st-has-icon"><ion-icon name="flag"></ion-icon></div>
      <div class="st-has-page-title">Feedback<ion-badge color="danger">1</ion-badge></div></a
    >
  </li>
  <li role="none">
    <a role="menuitem"
      ><div class="st-has-icon"><ion-icon name="checkbox"></ion-icon></div>
      <div class="st-has-page-title">MarketStats</div></a
    >
  </li>
  <li role="none">
    <a role="menuitem"
      ><div class="st-has-icon"><ion-icon name="person"></ion-icon></div>
      <div class="st-has-page-title">Profile & Settings</div></a
    >
  </li>
</ul>
