<!-- Header Decoration Shapes -->
<app-showingtime-header-decoration-shapes></app-showingtime-header-decoration-shapes>
<!-- ShowingTime Logo -->
<app-showingtime-logo></app-showingtime-logo>
<!-- Main Content -->
<div class="st-main-content">
  <!-- Button column -->
  <div class="st-has-button">
    <ion-button color="clear" class="st-back-button">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <!-- Page title column-->
  <div class="st-has-page-title">
    <h1>Listings</h1>
    <div>Subtitle</div>
  </div>
</div>
