// Alignment
@mixin mx-center-element($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

// Breakpoints
@mixin mx-breakpoint-xs375-up {
  @media (min-width: 375px) {
    @content;
  }
}
@mixin mx-breakpoint-sm-up {
  @media (min-width: 576px) {
    @content;
  }
}
@mixin mx-breakpoint-md-up {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin mx-breakpoint-lg-up {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin mx-breakpoint-xl-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin mx-breakpoint-xxl-up {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin mx-breakpoint-desktop-up {
  @media (min-width: 992px) {
    @content;
  }
}
