:root {
  /** Black <-> White shades **/
  --var-color-black: #222428;
  --var-color-black-90perc: #383a3e;
  --var-color-black-80perc: #4e5053;
  --var-color-black-70perc: #646669;
  --var-color-black-60perc: #7a7c7e;
  --var-color-black-50perc: #919294;
  --var-color-black-40perc: #a7a7a9;
  --var-color-black-30perc: #bdbdbf;
  --var-color-black-20perc: #d3d3d4;
  --var-color-black-10perc: #e9e9ea;
  --var-color-white: #ffffff;

  /** ShowingTime - Custom colors for the notifications (badges, chip, toast, etc) **/
  --var-notification-color-primary: #209cf6;
  --var-notification-color-secondary: #3dc2ff;
  --var-notification-color-tertiary: #5260ff;
  --var-notification-color-success: #00ad3a;
  --var-notification-color-warning: #ffbd18;
  --var-notification-color-danger: #ff0808;
  --var-notification-color-dark: var(--var-color-black, #222428);
  --var-notification-color-medium: var(--var-color-50perc, #92949c);
  --var-notification-color-light: var(--var-color-10perc, #e9e9ea);

  --var-content-background: #f1f1f1;
  --var-dm-content-background: #202020; // 'dm' - Dark Mode

  --var-border-color: #dddddd;
  --var-dm-border-color: #6a6a6a; // 'dm' - Dark Mode
}

ion-chip,
ion-badge {
  --ion-color-primary: #209cf6;
  --ion-color-primary-rgb: 32, 156, 246;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #1c89d8;
  --ion-color-primary-tint: #36a6f7;

  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #00ad3a;
  --ion-color-success-rgb: 0, 173, 58;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #009833;
  --ion-color-success-tint: #1ab54e;

  --ion-color-warning: #ffbd18;
  --ion-color-warning-rgb: 255, 189, 24;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0a615;
  --ion-color-warning-tint: #ffc42f;

  --ion-color-danger: #ff0808;
  --ion-color-danger-rgb: 255, 8, 8;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e00707;
  --ion-color-danger-tint: #ff2121;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
