@import "../theme/showingtime-mixins.scss";

ion-app {
  /* IMPORTANT: constant and env, are used for adding safe space area on the devices with notch. Otherwise, when application is started as a PWA (from the 'desktop' icon of the phone, any footer content will overlap with native on-screen buttons */
  margin-bottom: constant(safe-area-inset-bottom); // < iOS 11.2
  margin-bottom: env(safe-area-inset-bottom); // > iOS11.2
}

.st-hide-desktop-up {
  @include mx-breakpoint-desktop-up() {
    display: none;
  }
}

$var-sidebar-width: var(--var-sidebar-width);

ion-content {
  --background: var(--var-content-background);

  &.st-has-sidebar-left-lg-up {
    .st-sidebar-left {
      display: none;
    }
    @include mx-breakpoint-lg-up() {
      --padding-start: var(--var-sidebar-width);
      .st-sidebar-left {
        display: initial;
      }
    }
  }
  &.st-has-sidebar-right-lg-up {
    .st-sidebar-right {
      display: none;
    }
    @include mx-breakpoint-lg-up() {
      --padding-end: var(--var-sidebar-width);
      .st-sidebar-right {
        display: initial;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  ion-content {
    --background: var(--var-dm-content-background);
  }
}

.st-flex-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  &.st-items-align-center {
    align-items: center;
  }
}

.st-sidebar {
  display: inline-block;
  width: $var-sidebar-width;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  &.st-sidebar-left {
    top: 0;
    right: auto;
    left: 0;
    bottom: 0;
  }
  &.st-sidebar-right {
    top: 0;
    right: 0;
    left: auto;
    bottom: 0;
    @include mx-breakpoint-lg-up() {
      border: 1px solid #f00;
    }
  }
}
