<ion-header>
  <app-showingtime-header></app-showingtime-header>
</ion-header>

<ion-content class="st-has-sidebar-left-lg-up st-has-sidebar-right-lg-up">
  <div slot="fixed" class="st-sidebar st-sidebar-left">
    <app-showingtime-side-menu></app-showingtime-side-menu>
  </div>

  <ion-grid fixed>
    <!-- Sorting options -->
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-no-padding"
        >3 Results Out of 74 Total Listings</ion-col
      >
      <ion-col class="ion-no-padding ion-text-right">
        <ion-button size="small" fill="clear">
          Sort
          <ion-icon slot="end" name="arrow-down"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- Listing Items-->
    <div class="st-list-of-custom-items" role="list">
      <app-showingtime-list-item-listing
        role="listitem"
        aria-label="1"
        class="st-list-item"
      ></app-showingtime-list-item-listing>
      <app-showingtime-list-item-listing
        role="listitem"
        aria-label="2"
        class="st-list-item"
      ></app-showingtime-list-item-listing>
      <app-showingtime-list-item-listing
        role="listitem"
        aria-label="3"
        class="st-list-item"
      ></app-showingtime-list-item-listing>
      <app-showingtime-list-item-listing
        role="listitem"
        aria-label="4"
        class="st-list-item"
      ></app-showingtime-list-item-listing>
    </div>
    <!-- Ionic elements -->
    <br />
    <div><strong>ShowingTime - Typography</strong></div>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p>
      If another developer wrote this markup, and we weren’t familiar with the
      CSS, we should still have a good idea of which classes are responsible for
      what and how they depend on one another. Developers can then build their
      own components and modify the existing block to their heart’s content.
      Without writing much CSS, developers are potentially capable of creating
      many different combinations of buttons simply by changing a class in the
      markup:
    </p>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
    <!-- SEARCHBAR -->
    <br />
    <div class="ion-margin-top ion-margin-bottom">
      <strong>ShowingTime - Searchbar</strong>
    </div>
    <app-showingtime-searchbar></app-showingtime-searchbar>

    <!-- BUTTONS -->
    <br />
    <div class="ion-margin-top ion-margin-bottom">
      <strong>ShowingTime - Buttons</strong>
    </div>
    <ion-button color="primary">Primary</ion-button>
    <ion-button color="secondary">Secondary</ion-button>
    <ion-button color="tertiary">Tertiary</ion-button>
    <ion-button color="success">Success</ion-button>
    <ion-button color="warning">Warning</ion-button>
    <ion-button color="danger">Danger</ion-button>
    <ion-button color="light">Light</ion-button>
    <ion-button color="medium">Medium</ion-button>
    <ion-button color="dark">Dark</ion-button>
    <ion-button shape="round">Round Button</ion-button>

    <!-- Icons -->
    <br />
    <div class="ion-margin-top ion-margin-bottom">
      <strong>ShowingTime - Icon Buttons</strong>
    </div>
    <ion-button size="large">
      <ion-icon slot="start" name="star"></ion-icon>
      Left Icon
    </ion-button>

    <ion-button size="small">
      Right Icon
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>

    <ion-button size="large">
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>

    <!-- Sizes -->
    <br />
    <div class="ion-margin-top ion-margin-bottom">
      <strong>ShowingTime - Sizes of Buttons</strong>
    </div>
    <ion-button size="large">Large</ion-button>
    <ion-button>Default</ion-button>
    <ion-button size="small">Small</ion-button>
    <ion-button size="tiny">Tiny Button</ion-button>

    <br />
    <div class="ion-margin-top ion-margin-bottom">
      <strong>ShowingTime - Variations of Buttons</strong>
    </div>
    <ion-button size="large" expand="block">Large</ion-button>
    <ion-button expand="block">Default</ion-button>
    <ion-button size="small" expand="block">Small</ion-button>
    <ion-button size="tiny" expand="block">Tiny Button</ion-button>
    <hr />
    <ion-button size="large" fill="clear">Large</ion-button>
    <ion-button fill="clear">Default</ion-button>
    <ion-button size="small" fill="clear">Small</ion-button>
    <ion-button size="tiny" fill="clear">Tiny Button</ion-button>
    <hr />
    <ion-button size="large" fill="outline" expand="block">Large</ion-button>
    <ion-button fill="outline" expand="block">Default</ion-button>
    <ion-button size="small" fill="outline" expand="block">Small</ion-button>
    <ion-button size="tiny" fill="outline" expand="block"
      >Tiny Button</ion-button
    >

    <!-- TOGGLE -->
    <br />
    <div class="ion-margin-top ion-margin-bottom">
      <strong>ShowingTime - Toggle</strong>
    </div>
    <ion-toggle color="primary"></ion-toggle>
    <ion-toggle color="secondary"></ion-toggle>
    <ion-toggle color="danger"></ion-toggle>
    <ion-toggle color="light"></ion-toggle>
    <ion-toggle color="dark"></ion-toggle>

    <!-- BADGES & CHIPS -->
    <br />
    <div class="ion-margin-top ion-margin-bottom">
      <strong>ShowingTime - Badges</strong>
    </div>
    <!-- Colors -->
    <ion-badge first="xxx">xxx</ion-badge>
    <ion-badge color="primary">11</ion-badge>
    <ion-badge color="secondary">22</ion-badge>
    <ion-badge color="tertiary">33</ion-badge>
    <ion-badge color="success">44</ion-badge>
    <ion-badge color="warning">55</ion-badge>
    <ion-badge color="danger">66</ion-badge>
    <ion-badge color="light">77</ion-badge>
    <ion-badge color="medium">88</ion-badge>
    <ion-badge color="dark">99</ion-badge>

    <ion-item>
      <ion-badge slot="start">11</ion-badge>
      <ion-label>My Item</ion-label>
      <ion-badge slot="end">22</ion-badge>
    </ion-item>

    <br />
    <div class="ion-margin-top ion-margin-bottom">
      <strong>ShowingTime - Chips</strong>
    </div>
    <!-- Item with badge on left and right -->

    <ion-chip>
      <ion-label>Default</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-label color="secondary">Secondary Label</ion-label>
    </ion-chip>

    <ion-chip color="secondary">
      <ion-label color="dark">Secondary w/ Dark label</ion-label>
    </ion-chip>

    <ion-chip [disabled]="true">
      <ion-label>Disabled Chip</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-icon name="pin"></ion-icon>
      <ion-label>Default</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-icon name="heart" color="dark"></ion-icon>
      <ion-label>Default</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-label>Button Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>

    <ion-chip>
      <ion-icon name="pin" color="primary"></ion-icon>
      <ion-label>Icon Chip</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>

    <ion-chip>
      <ion-avatar>
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <ion-label>Avatar Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>

    <hr />
    <ion-chip color="primary">
      <ion-icon name="pin"></ion-icon>
      <ion-label>primary</ion-label>
    </ion-chip>
    <ion-chip color="secondary">
      <ion-icon name="pin"></ion-icon>
      <ion-label>secondary</ion-label>
    </ion-chip>
    <ion-chip color="tertiary">
      <ion-icon name="pin"></ion-icon>
      <ion-label>tertiary</ion-label>
    </ion-chip>
    <ion-chip color="success">
      <ion-icon name="pin"></ion-icon>
      <ion-label>success</ion-label>
    </ion-chip>
    <ion-chip color="warning">
      <ion-icon name="pin"></ion-icon>
      <ion-label>warning</ion-label>
    </ion-chip>
    <ion-chip color="danger">
      <ion-icon name="pin"></ion-icon>
      <ion-label>danger</ion-label>
    </ion-chip>
    <ion-chip color="dark">
      <ion-icon name="pin"></ion-icon>
      <ion-label>dark</ion-label>
    </ion-chip>
    <ion-chip color="light">
      <ion-icon name="pin"></ion-icon>
      <ion-label>light</ion-label>
    </ion-chip>
    <ion-chip color="medium">
      <ion-icon name="pin"></ion-icon>
      <ion-label>medium</ion-label>
    </ion-chip>
  </ion-grid>

  <div slot="fixed" class="st-sidebar st-sidebar-right">
    <!-- Section -->
    <h6>My Calendar</h6>
    <ion-card class="ion-no-margin">
      <ion-card-content>
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </ion-card-content>
    </ion-card>
    <!-- Section -->
    <h6>Tours</h6>
    <ion-card class="ion-no-margin">
      <ion-card-content>
        <div>8/18/2020</div>
        <div class="ion-padding-top">
          <app-showingtime-listing-address></app-showingtime-listing-address>
        </div>
        <div class="ion-padding-top">
          <app-showingtime-listing-address></app-showingtime-listing-address>
        </div>
      </ion-card-content>
    </ion-card>
    <!-- Section -->
    <h6>Tasks</h6>
    <ion-card class="ion-no-margin">
      <ion-card-content class="ion-border">
        <ion-textarea></ion-textarea>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="st-hide-desktop-up">
  <app-showingtime-tabs-menu></app-showingtime-tabs-menu>
</ion-footer>
